
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0b0d1a;
    color: #c8d6e5;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background-color: #1b263b;
    padding: 40px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(46, 204, 113, 0.3);
    transform: translateX(-50%);
    border-radius: 50%;
}

header h1 {
    font-size: 3em;
    color: #2fc3df;
}

header p {
    font-size: 1.2em;
    color: #dcdde1;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #c8d6e5;
    font-size: 1.1em;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #2fc3df;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: linear-gradient(to bottom, rgba(11, 13, 26, 0.8), rgba(11, 13, 26, 0.9)), url('data-science-hero.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #dcdde1;
    text-align: center;
}

.hero::before, .hero::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(72, 52, 212, 0.3);
    border-radius: 50%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    animation: float 5s infinite ease-in-out;
}

.hero::after {
    top: auto;
    bottom: -50px;
}

.hero h1 {
    font-size: 2.8em;
    color: #2fc3df;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    max-width: 600px;
    line-height: 1.8;
}

/* Add floating animation to circles */
@keyframes float {
    0%, 100% {
        transform: translate(-50%, -10px);
    }
    50% {
        transform: translate(-50%, 10px);
    }
}

/* Gallery */
.gallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.gallery .content-image {
    width: 30%;
    max-width: 400px;
    border: 2px solid #2fc3df;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery .content-image img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery .content-image:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}
